<div class='friend-list'>
<% @user_relations.each do |user_relation| %>
  <% if current_user.id == user_relation.user_id %>
    <div class='friend-box box'>
      <% @users.each do |user| %>
        <% if user.id == user_relation.friend_id %>
          <p class='title-name'>
            <%= user.last_name %> <%= user.first_name %>
          </p>
          <div class='introduction-header'>
            <p class='introduction-title'>＜紹介文＞</p>
            <% if user_relation.friend_introduction %>
              <%= button_to '更新する', edit_user_user_relation_path(user_id: user.id, id: user_relation.id), method: :get, class:"edit-friend-introduction-btn btn" %>
            <% else %>
              <%= button_to '新規作成', edit_user_user_relation_path(user_id: user.id, id: user_relation.id), method: :get, class:"edit-friend-introduction-btn btn" %>
            <% end %>
          </div>
          <div class='friend-introduction'>
            <%= user_relation.friend_introduction%>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
</ul>
