<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("contouch_logo1.png", class:"contouch-icon"), "/" %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li class='nickname'><%= link_to (current_user.last_name + ' ' + current_user.first_name), "#", class: "header-list user-nickname" %>
          <ul>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-list logout" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "header-list login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "header-list sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>
