<%= render "devise/shared/header" %>

<div class='main'>
  <% if user_signed_in? %>
    <h3>共通の友達一覧</h3>
    <%= render "devise/shared/friend_of_friends_list", locals: { user_relations: @user_relations, users: @users } %>
    <h3>友達一覧</h3>
    <%= render "devise/shared/friend_list", locals: { user_relations: @user_relations, users: @users } %>
    <h3>友達が投稿した他己紹介一覧</h3>
    <%= render "devise/shared/friend_introduction_list" %>
    <h3>友達リクエストされた友人一覧</h3>
    <%= render "devise/shared/friend_request_list" %>
    <h3>友達申請中一覧</h3>
    <%= render "devise/shared/friend_approval_list" %>
    <h3>ユーザー一覧</h3>
    <%= render "devise/shared/user_list" %>
  <% end %>
  <% unless user_signed_in? %>
    <h3>＜サービス紹介＞</h3>
      <p>
        contouchは、身近な人と気軽に出会える接点をつくるサービスです。<br>
        様々なSNSの登場により、人と人との繋がりや新たな人と出会う機会は増えましたが、<br>
        信頼のおける人と新たに出会うためのハードルが上がっています。<br><br>

        そこで、友達の友達から新たな人との接点をつくることで、<br>
        信頼のおける身近な人間関係からより出会いを作れるサービスをリリースしました！<br>
        ぜひ、contouchを使って、身近な人から新しい出会いを作りましょう。<br>
      </p>
    <%= link_to 'contouchで新たな出会いを見つける', new_user_registration_path, class: "sign-up" %>
  <% end %>
</div>
