<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("contouch_logo1.png", class:"contouch-icon"), "/" %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐させましょう%>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐させましょう%>
    </ul>
  </div>
</header>
<div class='main'>
  <h3>＜共通の友人一覧＞</h3>
    <p>※一覧表示準備中※<br>もうしばらくお待ちください。。</p>
  <h3>＜友人一覧＞</h3>
    <p>※一覧表示準備中※<br>もうしばらくお待ちください。。</p>
  <h3>＜ユーザー一覧＞</h3>
    <% @users.each do |user| %>
      <p>ユーザー名：<%= user.nickname %></p>
    <% end %>
</div>